[Unit]
Desciption=Fishing weather bot
After=multi-user.target

[Service]
Type = simple
ExecStart = python3 /usr/fishingweatherbot/main.py
SyslogIdentifier = fishingweatherbot
Restart = on-failure

[Install]
WantedBy = multi-user.target